:root {
    --white: #fff;
    --yellow: #ffe349;
    --red: #dd4d2e;
    --red-hover: #bd3d21;
    --dark-blue: #052557;
    --light-blue: #8ed6fb;
    --light-gray: #e8ecf396;
    --light-text: #a2b2c8;
    --gray-text: #506690;
    --light-background: #f8fafc;
    --border: #e8ecf3;
    --header-background: rgba(0, 0, 0, 0.15);
    --opacity-black: #00000040;

    --background-gradient: linear-gradient(to right top,#072441,#5621bf);
    --purple-gradient: linear-gradient(49deg, rgb(21, 29, 72) 0%, rgb(54, 29, 84) 100%);
    --orange-gradient: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    --dots-gradient: radial-gradient(#d8dee8 2px,transparent 2px);

    --shadow-1: 0px 2px 2px 0 var(--opacity-black);
    --shadow-2: 3px 12px 16px 2px var(--opacity-black);
    --shadow-3: 0 0.5rem 1rem var(--opacity-black);
    --shadow-4: 0 1rem 3rem var(--opacity-black);
    --text-shadow: 1px 4px 4px var(--opacity-black);
}